.containerDes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(221, 165, 165, 0.19);
}

.editor {
  // position: relative;

  // width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  height: 100%;

  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.preview {
  // position: relative;
  // width: 66%;
  max-width: 56%;
  height: 100%;
  min-height: 30vh;
  font-size: 13px;
  word-wrap: break-word; /* Cho phép chia từ giữa để tránh tràn */
  white-space: pre-line;
  // max-width: 66%;
  // display: inline-block;
}
.asd {
  background-color: "#FF00FF"; /* Màu xám cho dòng chẵn */
}

.odd-row {
  background-color: #ffffff; /* Màu trắng cho dòng lẻ */
}
.editorInput {
  width: 100%;
  height: 100%;
}
.ql-editor {
  white-space: pre-line !important;
  min-height: 30vh;
}

.intro-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  
  .product-info-paper {
    padding: 25px;
    border-radius: 8px;
    
    .info-title {
      margin-top: 0;
      margin-bottom: 15px;
      color: #e74c3c;
      font-weight: 600;
      text-align: center;
      font-size: 18px;
    }
  }
  
  .product-description {
    color: #333;
    line-height: 1.6;
    text-align: justify;
    
    p {
      margin-bottom: 10px;
    }
  }
  
  .product-info-content {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    
    .info-section {
      margin-bottom: 15px;
    }
    
    p {
      margin-bottom: 10px;
    }
    
    .info-detail {
      padding-left: 20px;
      margin-bottom: 5px;
      line-height: 1.7;
    }
  }
  
  .toggle-btn {
    background-color: #1890ff !important;
    color: white !important;
    font-weight: 500 !important;
    padding: 5px 20px !important;
    border-radius: 20px !important;
    border: none !important;
    
    &:hover {
      background-color: #40a9ff !important;
      box-shadow: 0 2px 8px rgba(24, 144, 255, 0.2) !important;
    }
  }
}
